
import os

# URL for the Sealog Server
serverURL = 'https://<ip address>:<port number>/sealog-server'

# JWT for a cruise_manager or admin account on the Sealog Server.
token = ""

# location of DSL scripts and other 3rd party tools used in the scripts created by the templates
scriptDir = '/usr/local/bin'

# directory where the templates are stored
templatesDir = os.path.join(os.path.dirname(os.path.abspath(__file__)), "templates")

# base directory where all data is stored
baseDir = '/Users/webbpinner/testJasonCruiseDir'

# subdirectory within cruise data directory for storing raw data
rawDir = 'RawData'

# subdirectory within vehicle data directory for storing processed lowering data
procDir = 'ProcData'

# sub-driectories created within the cruise directory
cruiseSubDirs = ['Documentation', 'H264Recordings', 'Highlights', 'HDGrabs', 'Nav', 'ppi_ppfx', 'scripts', 'Sealog', 'StillCamera', 'Vehicle', 'Vehicle/' + rawDir, 'Vehicle/' + rawDir + '/Navest', 'Vehicle/' + rawDir + '/Navest/maps', 'Vehicle/' + rawDir + '/Navest/targets', 'Vehicle/' + rawDir + '/Navest/backup', 'Vehicle/' + rawDir + '/Navest/backup/navest_ini', 'Vehicle/' + rawDir + '/Navest/backup/navg_ini', 'VirtualVan']

# location of lowering directory within the cruise directory
loweringBaseDir = 'Vehicle/' + procDir

# sub-driectories created within the lowering directory
loweringSubDirs = ['scripts']

# other directories within the cruise directory where a lowering sub-directory needs to be created
otherLoweringBaseDirs = ['H264Recordings', 'HDGrabs', 'Highlights', 'ppi_ppfx', 'StillCamera']

# name of template-derived script for pulling data from Navest and DLog to the cruise data directory
cruiseDataRsyncScriptName = '<cruise_id>_pull_data_rsync_script.sh'

# name of template-derived script for rsync-ing the cruise data directory to one or more backup locations
cruiseDataBackupRsyncScriptName = '<cruise_id>_backup_data_rsync_script.sh'

# name of template-derived script for running the data_parse script for a particular lowering
loweringProcDataScriptName = '<lowering_id>_proc_data_script.sh'

# name of template-derived script for running the make_lowering_files script for a particular lowering
loweringMakeLoweringFilesScriptName = '<lowering_id>_make_lowering_files.sh'

# name of template-derived script for running the make_lowering script for a particular lowering
loweringMakeLoweringScriptName = '<lowering_id>_make_lowering.sh'

# name of template-derived script for processing Highlight and KiPro1080 video clips for a particular lowering
loweringClipRenameScriptName = '<lowering_id>_proc_clips.sh'

# name of template-derived script for processing SulisCam images for a particular lowering
loweringSulisRenameScriptName = '<lowering_id>_proc_sulis.sh'

# MASTER SET, Do not delete/uncomment/modify... make a copy, uncomment it and modify that!
# dslogDataTypes = [ "ALT", "CSV", "CT1", "CT2", "CTM", "DEP", "EH1", "HFB", "HFP", "HFR", "HMR", "LSS", "O2", "OCT", "OOS", "SVP", "SYS"]

dslogDataTypes = [ "ALT", "CSV", "CT1", "CT2", "CTM", "DEP", "EH1", "HFB", "HFP", "HFR", "HMR", "LSS", "O2", "OCT", "OOS", "SVP", "SYS"]